@import url('../../css/custom-vars.css');

.menu-panel {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu-panel li {
    border-bottom: 1px solid var(--custom-border-beige);
}

.menu-panel a {
    box-sizing: border-box;
    position: relative;
    padding:  18px 26px;
    color: var(--custom-brown);
    text-decoration: none;
    float: left;
    width: 100%;
}

.menu-panel a:hover {
    color: var(--custom-green);
}

.menu-panel a svg {
    position: absolute;
    top:18px;
    left:0;
    color: var(--custom-green);
    font-size: 20px;
    margin-right: 10px;
}

.menu-panel a.active {
    color: var(--custom-green);
}