@import url('../../css/custom-vars.css');

.side-drawer {
    height: 100%;
    background-color: var(--custom-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
    border-right: 1px solid var(--custom-border-beige);
    box-sizing: border-box;
    padding: 20px;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    margin-top: 80px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-drawer li {
    border-bottom: 1px solid var(--custom-border-beige);
}

.side-drawer a, .side-drawer span {
    color: var(--custom-brown);
    text-decoration: none;
    padding: 18px 0;
    float: left;
    width: 100%;
    cursor: pointer;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: var(--custom-dark-green);
}

.side-drawer .close-btn {
    fill: var(--custom-green);
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}