@import url('../custom-vars.css');

html,
body,
#root {
    height: 100%;
}

.container-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 80px);
}

.container-center ul {
    line-height: 30px;
}

.action-btns {
    display: flex;
    justify-content: center;
}

.action-btns a {
    font-weight: bold;
    color: var(--custom-green);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.action-btns a.border {
    border: 2px solid;
}

.action-btns a:hover {
    color: var(--custom-dark-green);
}

@keyframes glowing {
    0% {
      color: var(--custom-brown);
    }
    50% {
        color: var(--custom-green);
    }
    100% {
      color: var(--custom-brown);;
    }
  }

  .play-btn {
    animation: glowing 1300ms infinite;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
