
main { 
    background: url('../assets/headphones.svg') no-repeat center;  
/* background-color: var(--custom-brown); */
    height: 100vh;
}
.big-logo {
    display: flex;
    justify-content: center;
}
