@import url('../custom-vars.css');

.demo-list ul {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    list-style-type: none;
    margin: 20px 0 110px 0;
}

.demo-list li {
    position: relative;
    width: 144px;
    height: 144px;
    border: 1px solid var(--custom-border-beige);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.demo-list li div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.demo-list li .song-details {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    border-top: 1px solid var(--custom-border-beige);
    height: 40px;
    width: 125px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}

.song-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125;
}

.demo-list svg {
    fill: var(--custom-green);
}