@import url('../custom-vars.css');

.demo-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 20px 0 110px 0;
}

.demo-list a.settings-btn:hover {
    color: var(--custom-green);
}

.demo-list ul.overlay {
    display: none;
}


/* @media (min-width: 769px) {

    .demo-list ul.overlay {
        display: flex;
    }
} */