@import url('../../custom-vars.css');

.modal {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--custom-background);
    z-index: 200;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

.modal h3 {
margin-bottom: 60px;
}