@import url('../../custom-vars.css');

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--custom-background);
    z-index: 200;
}