@import url('../../css/custom-vars.css');

.header {
    height: 80px;
}

.navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between
}

.logo {
    width: 150px
}

.spacer {
    flex: 1;
}

.items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.items li {
    padding: 0 0.5rem;
}

.items a {
    color: var(--custom-brown);
    text-decoration: none;
}

.items a:hover,
.items a:active {
    color: var(--custom-green);
}
.header-buttons {
    display: flex;
}

.header-buttons svg {
    color: var(--custom-green);
    cursor: pointer;
}

.toggle-menu-btn {
    width: 40px;
    height: 40px;
}

.profile-icon {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .items {
        display: none;
    }
}

@media (min-width: 769px) {
    .header-buttons {
        display: none;
    }

    .logo {
        margin-left: 0;
    }
}