@import url('../../css/custom-vars.css');

.main-player {
    background-color: red;
    position: relative;
    height: 100%;
    background-color: var(--custom-background);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transform: translateY(100%);
    transition: transform 0.2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-player button {
    cursor: pointer;
    border: none;
    background: none;
}

.open {
    transform: translateY(0);
}

.header-container {
    position: relative;
    height: 80px;
    background-color: var(--custom-green);
    display: flex;
    justify-content: flex-end;
}

.close-button {
    font-size: 40px;
    color: var(--custom-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.song-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.visualizer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.visualizer svg {
    fill: var(--custom-brown);
}

.song-details {
    /* TODO make --custom-white ipv text-white  */
    background-color: var(--custom-white); 
    padding: 40px 20px 20px 20px;
    margin: 40px;
    border-radius: var(--custom-border-radius);
    color: var(--custom-brown);
    position: relative;
}

.song-details h2 {
    font-size: 18px;
}


.center {
    position: relative;
    display: flex;
    justify-content: center;
}

.settings {
    position: absolute;
    font-size: 40px;
    color: var(--custom-brown);
    top: 0;
    right:  0;
    padding: 0 10px 0 20px;
}

.control-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.control-container button {
    color: var(--custom-green);
}

.control-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
}

.control-btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

button.play {
    font-size: 100px;
}
