@import url('../../css/custom-vars.css');

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropit-form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

/* .dropit-form input:focus,
.dropit-form select:focus,
.dropit-form textarea:focus,
.dropit-form button:focus {
    outline: none;
} */

/* .input-section {
    margin-top: 20px;
} */

/* .dropit-form input[type=text],
.dropit-form input[type=number],
.dropit-form input[type=password],
.dropit-form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 44px;
    border: 1px solid var(--custom-border-beige);
    border-radius: 5px;
    padding: 0 10px;
    color: var(--custom-brown);
    font-size: 16px;
} */

/* .dropit-form input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.dropit-form input:hover,
.dropit-form textarea:hover {
    border-color: var(--custom-brown);
}

.dropit-form input:focus,
.dropit-form textarea:focus {
    border-color: var(--custom-green);
}

.dropit-form .error {
    border-color: var(--custom-red);
    /* background-color: var(--custom-light-red); */
/* } */

/* .dropit-form input.error {
    border-color: var(--custom-red);
}

.dropit-form .error-message {
    color: var(--custom-red);
}  */


.dropit-form button {
    margin-top: 40px;
    background-color: var(--custom-green);
    border-radius: 5px;
    color: var(--custom-white);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    line-height: 44px;
    outline: none;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 100%;
}

.dropit-form button:hover {
    background-color: var(--custom-dark-green);
}


.dropit-form .radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.dropit-form .radio-set {
    margin-right: 10px;
    margin-bottom: 5px;
}

.dropit-form .radio-set label {
    margin-left: 10px;
}

.dropit-form .checkbox label {
    margin-left: 10px;
}

.dropit-form .small-text a {
margin-left: 10px;
}

main {
    height: auto;
}