@import url('../../custom-vars.css');

.sticky-player {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    /* max-width: 1480px; */
    background-color: var(--custom-green);
    color: var(--custom-text-white);

    /* Maak tekst niet selecteerbaar */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.sticky-player .arrow-up {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 30px;
    color: var(--custom-dark-green);
}

.container {
    height: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sticky-player button {
    min-width: 60px;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 32px;
    color: var(--custom-text-white);
}


.sticky-player button:focus {
    outline: 0;
}

.sticky-player .song-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    /* margin-top: 20px; */
}