@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');
@import url('./custom-vars.css');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--custom-brown);
  display: flex;
  justify-content: center;
  /* background-color: #ebe5d6; */
  background-color: var(--custom-background);
}

#root {
  background-color: var(--custom-background);
  width: 100%;
  /* box-shadow: 0px 0px 8px #aaa; */
  display: flex;
  justify-content: center;
}

.app {
  max-width: var(--custom-max-width);
  width: 100%;
}

h2,
h3 {
  font-family: 'Comfortaa', cursive;
}

.page {
  height: calc(100% - 80px);
  padding: 0 20px;
}

.full-page {
  padding: 0 20px;
}

/* .content {
  margin-top: 30px;
} */

form .small-text {
  margin-top: 40px;
}

.small-text {
  float: left;
  margin-top: 10px;
  font-size: 12px;
}

.card {
  /* padding: 15px 20px; */
  border: 1px solid var(--custom-border-beige);
  border-radius: var(--custom-border-radius);
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
a.active {
  color: var(--custom-green);
}

@media (min-width: 600px) {
  h2 {
    font-size: 50px;
  }
}