@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --custom-background: #EEE9DB;
  --custom-red: #CB2431;
  --custom-light-red: #FFEFEF;
  --custom-green: #69BA5E;
  --custom-dark-green: #58A34D;
  --custom-brown: #635748;
  --custem-border-beige: #D0B899;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--custom-background);
  color: var(--custom-brown);
}

main {
  padding: 0 20px;
}

@media (min-width: 600px) {
  body {
    /* background: green; */
  }
}