:root {
    --custom-background: #EEE9DB;
    --custom-red: #CB2431;
    --custom-light-red: #FFEFEF;
    --custom-green: #69BA5E;
    --custom-dark-green: #58A34D;
    --custom-brown: #635748;
    --custem-border-beige: #D0B899;
  }