:root {
  --custom-background: #EEE9DB;
  --custom-red: #CB2431;
  --custom-light-red: #FFEFEF;
  --custom-green: #69BA5E;
  --custom-dark-green: #58A34D;
  --custom-brown: #635748;
  --custom-border-beige: #D0B899;
  --custom-text-white: #FFF;
  --custom-max-width: 1480px;
  --custom-border-radius: 5px;
}